
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(https://pixabay.com/get/ga33461853ab0c2ac6afb2a06368d4d20817a7b59361b0785cdde588bea2d6d27613a97b3a6197a242041df2f772bd218faf7144d0a6cf6ee50b6ecc76444a9c9_1280.jpg);
    font-family: Nosifer;
}

.game-container {
    width: 700px;
    background: rgb(216, 214, 214, .7);
    display: flex;
    gap: 70px;
    align-items: flex-end;
    padding: 60px 40px;
    border-radius: 10px;
}
.hangman-container img{
    max-width: 350px;
    
}

.hangman-container h1 {
    width: auto;
    font-size: 2em;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

.word-display  {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    list-style: none;
    padding-right: 20px;
    
}

.letter {
    width: 28px;
    font-size: 2.5em;
    font-family: Nosifer;
    text-transform: uppercase;
    text-align: center;
    
    border: 5px rgb(130, 8, 8);
    border-bottom: 3px solid rgb(121, 8, 8);
}

.guessed {
  border-color: transparent;
  margin: -30px, 0, 30px, 0;
  

}

.game-box h2 {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.points p {
    color: rgb(121, 8, 8);
  
}


.keyboard {
  display: flex;
flex-wrap: wrap;
justify-content: center;
}

.keyboard button {
  font-family: Nosifer;
  background-color: rgb(121, 8, 8);
  outline:1px solid black;
  border-radius: 5px;
  
}

.game-over {
  position: fixed;
  background-color:black;
  border-radius: 2em; 

  
}
.game-over-content {
  text-align: center;
  font-size: 2em;
  color: white;
  padding: 1em;
}

.play-again {
  size: 1em;background-color: rgb(121, 8, 8);
}

.you-survived {
  position: fixed;
  background-color:black;
  border-radius: 2em; 

}
.you-survived-content
{
  text-align: center;
  font-size: 2em;
  color: white;
  padding: 1em;
}








































